In [35]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def collect_data(course_urls_file):
    # Initialize lists to store data
    sku_list = []
    name_list = []
    price_list = []
    in_stock_list = []
    categories_list = []
    tags_list = []

    # Read the links from the file
    with open(course_urls_file, 'r') as file:
        urls = file.read().splitlines()

    # Loop through the URLs and scrape data
    for url in urls:
        response = requests.get(url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            
            

            # Extract data from the webpage
            sku = soup.find('span', class_='sku').text.strip()
            print(sku)
            
            name = soup.find('h1').text.strip()
            
            #price = soup.find('h1', class_='price').text.strip().split()[1]
            price_element = soup.find('p', class_='price')
            span_contents = price_element.find('span', class_='woocommerce-Price-amount').contents
            price = span_contents[1].strip()
            
            in_stock = int(soup.find('p', class_='stock').text.strip().split()[0])
            
            categories = soup.find('span', class_='posted_in').text.strip().split(': ')[1]
            print(categories)
            
            
            tags = soup.find('span', class_='tagged_as').text.strip().split(': ')[1]
            print(tags)
            

            # Append data to lists
            sku_list.append(sku)
            name_list.append(name)
            price_list.append(price)
            in_stock_list.append(in_stock)
            categories_list.append(categories)
            tags_list.append(tags)

    # Create a DataFrame from the collected data
    data = {
        'SKU': sku_list,
        'Name': name_list,
        'Price': price_list,
        'InStock': in_stock_list,
        'Categories': categories_list,
        'Tags': tags_list
    }
    df = pd.DataFrame(data)

    return df

# Usage example:
if __name__ == "__main__":
    course_urls_file = "pokemon1.txt"
    pokemon_data = collect_data(course_urls_file)
    pokemon_data.to_csv("pokemon_data.csv", index=False)

4391
Pokemon, Seed
bulbasaur, Overgrow, Seed

In [6]:
import time
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [7]:
BASE_URL = 'http://api.worldbank.org/v2/'
COUNTRIES = ["US", "IN", "CN", "JP", "CA", "GB", "ZA"]

INDICATORS = ['SP.POP.TOTL',
             'SP.POP.TOTL.FE.IN',
             'SP.POP.TOTL.MA.IN',
             'SP.DYN.CBRT.IN',
             'SP.DYN.CDRT.IN',
             'SP.DYN.LE00.MA.IN',
             'SP.DYN.LE00.FE.IN',
             'SE.PRM.ENRR',
             'SE.TER.ENRR',
             'SE.PRM.CMPT.ZS',
             'SE.ADT.1524.LT.ZS']

#TODO (option)
# If you need other initializations

In [41]:

def collect_data(countryCode, per_page, start_year, end_year):
    
    
    # Initialize lists to store data
    total_population = []
    female_population = []
    male_population = []
    birth_rate = []
    death_rate = []
    male_life_expectancy = []
    female_life_expectancy = []
    school_enrollment_primary = []
    school_enrollment_tertiary = []
    primary_completion_rate = []
    literacy_rate = []
    year = []
    country = []
    
    

    for indicator in INDICATORS:
        # Construct the API URL for the specific country and indicator
        url = f"{BASE_URL}country/{countryCode}/indicator/{indicator}?format=json&per_page={per_page}&date={start_year}:{end_year}"

        values = []  # Danh sách để lưu trữ các giá trị "value"    
            
            
        # Make a GET request to the World Bank API
        response = requests.get(url)

        if response.status_code == 200:
            # Convert the JSON response to a list of dictionaries
            response_data = response.json()
            if response_data:
                # Extract the relevant data from the response
                data_entries = response_data[1]
                for entry in data_entries:
                    if 'value' in entry and entry['value'] is not None:
                        value = entry['value']
                    else:
                        value = None
                    values.append(value)
                
                #print(len(values))
                
                # Dựa vào chỉ số hiện tại, xác định danh sách nào sẽ lưu giá trị
                if indicator == 'SP.POP.TOTL':
                    total_population = values
                elif indicator == 'SP.POP.TOTL.FE.IN':
                    female_population = values
                elif indicator == 'SP.POP.TOTL.MA.IN':
                    male_population = values
                elif indicator == 'SP.DYN.CBRT.IN':
                    birth_rate = values
                elif indicator == 'SP.DYN.CDRT.IN':
                    death_rate = values
                elif indicator == 'SP.DYN.LE00.MA.IN':
                    male_life_expectancy = values
                elif indicator == 'SP.DYN.LE00.FE.IN':
                    female_life_expectancy = values
                elif indicator == 'SE.PRM.ENRR':
                    school_enrollment_primary = values
                elif indicator == 'SE.TER.ENRR':
                    school_enrollment_tertiary = values
                elif indicator == 'SE.PRM.CMPT.ZS':
                    primary_completion_rate = values
                elif indicator == 'SE.ADT.1524.LT.ZS':
                    literacy_rate = values
    
    
    #===========================================================================================================
    # lấy danh danh các năm cho vào mảng year
    # Construct the API URL for the specific country and indicator
    url = f"{BASE_URL}country/{countryCode}/indicator/{INDICATORS[0]}?format=json&per_page={per_page}&date={start_year}:{end_year}"       
    # Make a GET request to the World Bank API
    response = requests.get(url)
    if response.status_code == 200:
        # Convert the JSON response to a list of dictionaries
        response_data = response.json()
        if response_data:
            # Extract the relevant data from the response
            data_entries = response_data[1]
            for entry in data_entries:
                # Lấy giá trị "value" từ mỗi dòng và thêm vào danh sách
                date = entry['date']
                year.append(date)
                
                country_temp = entry['countryiso3code']
                country.append(country_temp)
                
    #===========================================================================================================  

    
    # Create a DataFrame from the collected data
    data = {
        'Total Population': total_population,
        'Female Population': female_population,
        'Male Population': male_population,
        'Birth Rate': birth_rate,
        'Death Rate': death_rate,
        'Male life expectancy': male_life_expectancy,
        'Female life expectancy': female_life_expectancy,
        'School enrollment, primary': school_enrollment_primary,
        'School enrollment, tertiary': school_enrollment_tertiary,
        'Primary completion rate': primary_completion_rate,
        'Literacy rate': literacy_rate,
        'Year': year,
        'Country': country
    }
    
    df = pd.DataFrame(data)
    # Thay thế giá trị None bằng 'None' và giá trị NaN bằng giá trị rỗng
    df = df.fillna('None')

    return df

# # Example usage
# countryCode = "US"
# per_page = 100
# start_year = 2000
# end_year = 2003
# result = collect_data(countryCode, per_page, start_year, end_year)

# # Print the collected data
# print(result)

In [42]:
def Generate_Countries_Dataset(countryCode_list):
    data = pd.DataFrame()
    for countryCode in countryCode_list:
        data = pd.concat([data, collect_data(countryCode = countryCode, per_page = 100, start_year = 2000, end_year = 2003)], axis=0)
    return data

In [43]:
#TEST
data_countries = Generate_Countries_Dataset(COUNTRIES)

print(data_countries)
# assert data_countries.shape == (161, 13)

   Total Population  Female Population  Male Population  Birth Rate  \
0         290107933          147242226        142865707      14.100
1         287625193          145972802        141652391      14.000
2         284968955          144625822        140343133      14.100
3         282162411          143251716        138910694      14.400
0        1117415123          539178882        578236241      25.375
1        1098313039          529978166        568334873      26.082
2        1078970907          520679574        558291332      26.728
3        1059633675          511410095        548223581      27.001
0        1288400000          629369651        659030348      12.410
1        1280400000          625534993        654865007      12.860
2        1271850000          621436557        650413443      13.380
3        1262645000          617082063        645562937      14.030
0         127718000           65270637         62447363       8.900
1         127445000           65093948         62351052       9.200
2         127149000           64907199         62241801       9.300
3         126843000           64716290         62126711       9.500
0          31644028           15963984         15680044      10.600
1          31360079           15821972         15538106      10.500
2          31020902           15654835         15366067      10.800
3          30685730           15492171         15193559      10.700
0          59647577           30526615         29120962      11.700
1          59370479           30406325         28964154      11.300
2          59119673           30296779         28822894      11.300
3          58892514           30197282         28695232      11.500
0          48104048           25178665         22925383      20.473
1          47661514           24979734         22681781      20.040
2          47229714           24781908         22447806      20.392
3          46813266           24591889         22221377      20.705

   Death Rate  Male life expectancy  Female life expectancy  \
0       8.400                74.500                  79.700
1       8.500                74.400                  79.600
2       8.500                74.300                  79.500
3       8.500                74.100                  79.300
0       8.188                62.981                  65.287
1       8.363                62.573                  64.729
2       8.558                62.114                  64.131
3       8.701                61.754                  63.639
0       6.400                70.910                  76.044
1       6.410                70.538                  75.640
2       6.430                70.162                  75.258
3       6.450                69.723                  74.189
0       8.000                78.360                  85.330
1       7.800                78.320                  85.230
2       7.700                78.070                  84.930
3       7.700                77.720                  84.600
0       7.100                77.320                  82.230
1       7.100                77.160                  82.020
2       7.100                76.920                  82.000
3       7.100                76.640                  81.820
0      10.200                76.300                  80.700
1      10.200                75.900                  80.500
2      10.200                75.700                  80.400
3      10.300                75.400                  80.200
0      12.657                51.970                  56.232
1      11.784                53.191                  57.668
2      10.871                54.565                  59.470
3      10.174                55.397                  61.049

  School enrollment, primary School enrollment, tertiary  \
0                       None                        None
1                       None                        None
2                       None                        None
3                       None                        None
0                 102.682907                    10.62537
1                  94.745529                    10.17642
2                  94.114929                      9.6945
3                  94.271118                     9.50872
0                       None                    15.45268
1                       None                    12.62848
2                 112.341591                     9.78911
3                       None                     7.59041
0                       None                        None
1                       None                        None
2                       None                        None
3                       None                        None
0                       None                        None
1                       None                   59.546589
2                       None                        None
3                 100.788773                    59.11446
0                  99.993317                   62.068562
1                  99.822632                   62.568432
2                 100.229919                   59.268471
3                 100.358719                   58.474041
0                 105.426369                        None
1                 103.968452                        None
2                 101.990463                        None
3                 101.489212                        None

  Primary completion rate Literacy rate  Year Country
0                    None          None  2003     USA
1                    None          None  2002     USA
2                    None          None  2001     USA
3                    None          None  2000     USA
0                80.04438          None  2003     IND
1               75.560066          None  2002     IND
2                72.16954     76.425697  2001     IND
3               71.486107          None  2000     IND
0                    None          None  2003     CHN
1                    None          None  2002     CHN
2                    None          None  2001     CHN
3                    None     98.858727  2000     CHN
0                    None          None  2003     JPN
1                    None          None  2002     JPN
2                    None          None  2001     JPN
3                    None          None  2000     JPN
0                    None          None  2003     CAN
1                    None          None  2002     CAN
2                    None          None  2001     CAN
3               97.817841          None  2000     CAN
0                    None          None  2003     GBR
1                    None          None  2002     GBR
2                    None          None  2001     GBR
3                    None          None  2000     GBR
0               90.579948          None  2003     ZAF
1               86.340828          None  2002     ZAF
2                    None          None  2001     ZAF
3               81.042252          None  2000     ZAF

In [44]:
# Save to csv file with name coutries.csv
#TODO
data_countries.to_csv("coutries1.csv", index=False, na_rep='')

In [40]:
import pandas as pd

# Tạo DataFrame ví dụ
data = pd.DataFrame({
    'Column1': [1, None, 3, 4],
    'Column2': [None, 7, None, 9]
})

# Thay thế giá trị None bằng 'None' và giá trị NaN bằng giá trị rỗng
data = data.fillna('None')

# Ghi DataFrame vào tệp CSV
data.to_csv('output.csv', index=False, na_rep='')

# Đọc tệp CSV để kiểm tra kết quả
loaded_data = pd.read_csv('output.csv')
print(loaded_data)

  Column1 Column2
0     1.0    None
1    None     7.0
2     3.0    None
3     4.0     9.0